@import url('https://fonts.googleapis.com/css?family=Open+Sans:100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body
{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: var(--body-background-color);
    overflow: hidden;
}

img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}